@page "/about"

<PageTitle>About</PageTitle>

<Parchment ParchmentId="@($"about")" Title="About">
    <p class="fs-2">I use this project to share the quotes that I like the most.</p>
    <p class="fs-2">
        Please feel free to contribute by creating a PR or submitting an issue to the
        <NavLink href="https://github.com/wtorricos/DeveloperQuotes" target="_blank">repository</NavLink>.
    </p>
    <p class="fs-2">
        You can suggest new quotes, add missing authors or fix typos, everything is welcome.
    </p>
</Parchment>

@code {

}
