@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<Parchment ParchmentId="@($"error")" Title="Error">
    <div class="w-75 h-100 text-center">
        <p class="fs-1">An error occurred while processing your request.</p>
        @if (ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code style="color: black">@RequestId</code>
            </p>
        }

        <NavLink class="fs-1" style="color: black; text-decoration: underline;" href="/">
            Back
        </NavLink>
    </div>
</Parchment>

@code{
    [CascadingParameter] public HttpContext? HttpContext { get; set; }

    public string? RequestId { get; set; }
    public bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
