<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="developer quotes, quotes, development, developer, programming, programming quotes" />
    <meta name="description" content="Quotes that will help developers find the inspiration they need." />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DeveloperQuotes.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    @*
        We disable enhanced navigation in order to set the QuoteId as a query parameter on page load.
        https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/startup?view=aspnetcore-8.0#disable-enhanced-navigation-and-form-handling
    *@
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        Blazor.start({
            ssr: { disableDomPreservation: true }
        });
    </script>
    <script src="app.js"></script>
</body>

</html>
