<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="developer quotes, quotes, development, developer, programming, programming quotes" />
    <meta name="description" content="Quotes that will help developers find the inspiration they need." />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DeveloperQuotes.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    @* Removing blazor.web.js causes a full re-render on each request,
        we are ok with that until we find a better way to set the quoteId
        in the query parameters.
    *@
    @* <script src="_framework/blazor.web.js"></script> *@
    <script src="app.js"></script>
</body>

</html>
