@inherits LayoutComponentBase

<main class="d-flex flex-column w-100 h-100">
    <div class="header d-flex flex-row justify-content-around" style="height: 70px">
        <div>
            <p style="color: #A5815F;" class="p-8 fs-2">Developer Quotes</p>
        </div>
        <div class="d-flex flex-row-reverse">
            <NavLink class="nav-link" href="about" Match="NavLinkMatch.Prefix"> About </NavLink>
            <NavLink class="nav-link" href="https://github.com/wtorricos/DeveloperQuotes" target="_blank"> GitHub </NavLink>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> Random Quote </NavLink>
        </div>
    </div>

    <article class="content" style="flex-grow: 1">
        @Body
    </article>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
